
@import '_partials/_media-queries.scss';
@import '_partials/_flexbox.scss';


/*------------------------------------------------
	GENERALS / DEFAULTS
-------------------------------------------------*/

$darkBlue: #00355f;
$yellow: #ffcb00;
$lightBlue: #3c9ae4;

body *, body *:after, body *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	background: #fff;
	background-size: cover;
	min-height: 100vh;
	font-family: Source Sans Pro, sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding-top: 44px;
	color: #333;
	float: left;
	width: 100%;

	&.fixed {
		overflow: hidden;
	}

	@include bp750 {
		padding-top: 0;
	}
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

.home .container {
	max-width: 1200px;
}

.content {
	position: relative;
	z-index: 1;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	list-style: none;
}



/*------------------------------------------------
	GOOGLE MAP BACKGROUND
-------------------------------------------------*/

.googlemap {
	width: 100%;
	height: 500px;

	@include bp750 {
		height: 100%; 
		width: 100%; 
		position: fixed !important; 
		top: 0;
		left: 0; 
		z-index: 0;
	}
}

.gm-style .directions-card-medium-large {
	display: none;
}



/*------------------------------------------------
	HEADER
-------------------------------------------------*/

header {
	text-align: center;
	font-size: 1em;
	width: 100%;
	padding: 15px;
	position: relative;
	color: $darkBlue;

	.logo {
		max-width: 200px;
	}

	@include bp750 {
		padding: 0;

		.logo {
			position: fixed;
			top: 15px;
			right: 15px;
			max-width: 170px;
			z-index: 2;
		}
	}
}

h1 {
	font-size: 1.3em;
	font-weight: 700;
	line-height: 1.1;

	.fa-info-circle {
		color: $yellow;
		padding: 6px;

		&:hover {
			color: lighten($yellow, 10%);
			cursor: pointer;
		}
	}

	@include bp850 {
		font-size: 1.5em;
	}

	@include bp1000 {
		font-size: 1.9em;
	}
}

.intro-copy {
	display: none;
	background-color: $darkBlue;
	padding: 20px 25px;
	border-radius: 10px;
	font-size: .85em;
	font-weight: 400;
	line-height: 1.5;
	position: absolute;
	top: 130px;
	left: 10%;
	width: 80%;
	z-index: 20;
	box-shadow: 0 0 20px rgba(#000,.25);

	@include bp750 {
		top: 80px;
		width: 60%;
		left: 30%
	}

	p {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}



/*------------------------------------------------
	SIDE PANEL
-------------------------------------------------*/

.side-panel {
	background: $darkBlue;
	color: #fff;
	padding: 25px 15px;

	@include bp750 {
		width: 70%;
		max-width: 615px;
		background-color: rgba($darkBlue, .6);
		position: relative;
		z-index: 1;
		transition: .5s;
		min-height: 100vh;
		padding: 20px 15px;

		&.hidden {
			transform: translateX(-94%);
		}

		&.hidden > * {
			transition: .3s;
			opacity: 0;
		}

		.dest-selected & {
			max-width: 400px;
		}
	}

	@include bp850 {
		padding: 25px 20px;
	}

	h1 {
		text-align: center;

		@include bp750 {
			font-size: 1.5em;
			margin: 12px 0;
		}
	}
}

.hide-side-panel.icon,
.show-side-panel.icon {
	position: fixed;
	z-index: 10;
	top: 30px;
	left: calc(70% - 23px);
	max-width: 40px;
	max-height: 40px;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: .5s left, .5s transform;

	.dest-selected & {
		left: 377px;
	}

	@include bp750 {
		&.active {
			visibility: visible;
			opacity: 1;
		}
	}

	@include bp880 {
		left: 593px;
	}

	&:hover {
		opacity: .85;
	}
}

.hide-side-panel:not(.active),
.show-side-panel.icon.active {
	left: 2%;

	@include bp880 {
		left: 18px;
	}

	.dest-selected & {
		left: 6px;
	}
}

.starting-cities-label {
	margin-top: 20px;
	display: block;
	font-size: .8em;

	.dest-selected & {
		display: none;
	}
}

.starting-cities {
	-webkit-appearance: none;
	width: 100%;
	padding: 15px;
	border: none;
	font-size: 1em;
	margin-top: 10px;
	background-color: #fff;

	.dest-selected & {
		display: none;
	}
}

.dest-deselect {
	display: none;
	cursor: pointer;
	transition: .3s;
	font-size: 1.1em;
	font-weight: 400;
	width: 100%;
	text-align: center;
	margin-top: 25px;

	.icon {
		max-width: 23px;
		max-height: 23px;
		margin-right: 5px;
	}

	.dest-selected & {
		display: block;
		@include flexbox;
		@include justify-content(center);
	}

	&:hover {
		opacity: .8;
	}
}

.starting-from {
	display: none;
	width: 100%;
	text-align: center;
	margin-top: 25px;

	span {
		font-size: 1.2em;
		font-weight: 700;
	}

	.dest-selected & {
		display: block;
	}
}



/*------------------------------------------------
	Destinations List
-------------------------------------------------*/

.filters {
	margin-top: 20px;
	text-align: center;

	@include bp600 {
		margin: 30px 0;
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	.dest-selected & {
		display: none;
	}

	h5 {
		font-size: 1em;
		margin-bottom: 15px;
		font-weight: 600;
	}

	label {
		padding: 5px 8px;
		background-color: lighten($lightBlue,20%);
		color: $darkBlue;
		display: inline-block;
		margin: 0;
		border-radius: 15px;
		font-size: .8em;
		cursor: pointer;
		font-weight: 400;

		input {
			margin-right: 5px;
		}

		@include bp600 {
			margin-right: 8px;
			padding: 7px 10px;
			font-size: .85em;
		}

		@include bp750 {
			border: 2px solid lighten($lightBlue,20%);

			&.checked {
				border-color: $darkBlue;
			}
		}
	}
}



/*------------------------------------------------
	Destinations List
-------------------------------------------------*/

.destinations-list {
	margin-top: 20px;
	display: none;

	&:after {
		content: "";
		clear: both;
		display: block;
	}

	&.active {
		display: block;
	}

	li {
		float: left;
		width: 100%;
		margin-bottom: 15px;
		background: #fff;
		color: $darkBlue;
		@include flexbox;
		@include flex-wrap(wrap);
		font-size: .9em;
		line-height: 1.1;
		transition: .4s;

		@include bp550 {
			margin-bottom: 20px;
		}

		&.hide {
			display: none !important;
		}

		.dest-selected & { display: none; }
		.dest-selected &.active { display: block; @include flexbox; margin-bottom: 0; }
	}

	h3 {
		margin-bottom: 7px;
		transition: .3s;

		@include bp550 {
			margin-bottom: 12px;
			font-size: 1.3em;
		}
	}

	li.modal-active h3 {
		color: $lightBlue;
	}

	.top-dish {
		margin-bottom: 5px;

		strong {
			font-weight: 400;
		}

		@include bp550 {
			margin-bottom: 10px;
		}
	}

	.info {
		float: left;
		width: 50%;
		padding: 13px;

		@include bp550 {
			font-size: 1.1em;
			padding: 20px;
		}
	}

	.toggle-wrap {
		width: 100%;
		float: left;
		margin-top: 5px;
		@include flexbox;
		@include align-items(center);
		transition: .3s;
		cursor: pointer;
		transition: .3s;

		@include bp550 {
			width: auto;
			margin-top: 15px;

			&.stopover-toggle { width: 60%; }
			&.more-info-toggle { width: 40%; }

			.dest-selected & { width: 100%; }
		}

		@include bp950 {
			padding-right: 10px;
		}

		&:hover {
			opacity: .85;
		}
	}

	.toggle-wrap p {
		float: left;
		font-weight: 400;
		font-size: .9em;
	}

	.info .icon {
		float: left;
		margin-right: 8px;
	}

	.img-wrap {
		float: left;
		width: 50%;
		background-size: cover;
		position: relative;
	}

	button {
		display: block;
		-webkit-appearance: none;
		background-color: $yellow;
		color: $darkBlue;
		text-align: center;
		width: 100%;
		border: none;
		font: 600 1em Source Sans Pro;
		padding: 8px;
		cursor: pointer;

		@include bp550 {
			padding: 10px;
			font-size: 1.05em;
		}

		.dest-selected & {
			display: none;
		}

		&:hover {
			background-color: lighten($yellow, 7%);
		}

		&:active,
		&:focus {
			outline: none;
		}
	}
}

.distance {
	background-color: $yellow;
	color: $darkBlue;
	width: 58px;
	height: 58px;
	text-align: center;
	border-radius: 50%;
	font-size: .9em;
	line-height: 1.2;
	position: absolute;
	top: 15px;
	right: 15px;
	@include flexbox;
	@include flex-wrap(wrap);
	@include align-content(center);
	@include justify-content(center);

	@include bp550 {
		width: 65px;
		height: 65px;
		font-size: 1em;
	}

	strong {
		display: block;
		width: 100%;
	}
}

.icon {
	max-width: 35px;

	@include bp550 {
		max-width: 40px;
	}

	@include bp950 {
		max-width: 45px;
	}
}



/*------------------------------------------------
	Stopovers
-------------------------------------------------*/

.stopovers {
	position: fixed;
	z-index: 25;
	top: 90px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	width: 85%;
	max-width: 650px;
	transition: .5s;
	max-height: calc(100% - 90px);
	overflow-y: scroll;
	-ms-overflow-style: none;
    padding-bottom: 20px;

	&::-webkit-scrollbar { 
	    display: none; 
	}

	@include bp1200 {
		left: 650px;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		width: 100%;
		max-width: calc(100% - 690px);

		.dest-selected & {
			left: 440px;
		}
	}

	@include bp1400 {
		max-width: none;
		width: auto;
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

	> h3 {
		color: #fff;
		font-weight: 300;
		width: 100%;
		text-align: center;
		margin-bottom: 0;
		max-width: 650px;
		background-color: $darkBlue;
		padding: 18px 15px;

		strong {
			font-weight: 600;
		}
	}
}

.close-stopovers {
	float: right;
	margin: 6px 6px 0 0;
	width: 40px;
	transition: .3s;
	cursor: pointer;

	&:hover {
		opacity: .85;
	}
}

.stopover {
	padding: 15px;
	background-color: #fff;
	max-width: 650px;
	width: 100%;

	@include bp600 {
		@include flexbox;
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	+ .stopover {
		margin-top: 15px;
	}
}

.stopover-info {
	float: left;
	width: 80%;
	line-height: 1.3;

	@include bp600 {
		width: 55%;
		padding-left: 15px;
		padding-right: 10px;
	}

	h4 {
		font-size: 1.2em;
		margin-bottom: 10px;
	}
}

.stopover-address {
	font-weight: 600;
	font-size: .9em;
	margin-top: 5px;
}

.stopover-img-wrap {
	display: none;
	position: relative;

	a {
		color: #fff;
		position: absolute;
		bottom: 5px;
		right: 5px;
		font-size: .8em;
		text-decoration: none;
	}

	@include bp600 {
		float: left;
		display: block;
		width: 25%;
		background-size: cover;
	}
}

.add-to-route,
.remove-from-route {
	display: none;
	float: left;
	width: 20%;
	text-align: center;
	transition: .3s;
	cursor: pointer;
		
	&:hover {
		opacity: .85;
	}

	p {
		margin-bottom: 5px;
		font-weight: 400;

		@include bp600 {
			margin: 10px 0;
		}
	}

	img {
		margin: 0;
	}

	&.active {
		display: block;
	}
}

.overlay {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000,.8);
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	transition: .3s;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	@include bp1200 {
		background-color: rgba(#000,.3);
	}
}

.added-stopover {
	width: 100%;
	padding: 15px;
	background-color: #aaa;
	transition: .3s;
	cursor: pointer;
	display: none;

	strong {
		font-weight: 600;
	}

	+ .added-stopover {
		border-top: 1px solid #ccc;
	}

	&:hover {
		background-color: #999;
	}
}


/*------------------------------------------------
	Dishes Panel
-------------------------------------------------*/

.dishes-panel {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	z-index: 30;
	-webkit-transform: translateY(-44px);
	transform: translateY(-44px);
	transition: .5s;
	display: none;

	&.active {
		top: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	@include bp750 {
		height: auto;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);

		&.active {
			top: 100%;
			-webkit-transform: translateY(-43px);
			transform: translateY(-43px);
		}
	}

	> ul {
		display: none;
		padding: 64px 20px 20px;

		@include bp750 {
			padding: 15px;
		}
	}

	&.active > ul {
		height: 100%;
		overflow-y: scroll;

		@include bp600 {
		}
	}

	.list-item-block {
		margin-bottom: 20px;
		overflow: hidden;

		@include bp600 {
			float: left;
			width: 32%;
			margin-right: 2%;

			&:nth-child(3n) { margin-right: 0; }
		}

		@include bp750 {
			float: left;
			width: 18.4%;
			max-width: 190px;
			margin-right: 2%;

			&:nth-child(n) { margin-right: 2%; }
			&:nth-child(5n) { margin-right: 0; }
		}
	}

	.list-item-block h4 {
		font-weight: 600;
		font-size: .9em;
	}

	.img-wrap {
		position: relative;
		margin-bottom: 10px;

		@include bp600 {
			max-height: 170px;
			overflow: hidden;
			@include flexbox;
			@include align-items(center);
			background-color: #fff;
		}

		@include bp750 {
			height: 120px;
		}
	}

	.img-wrap img {
		display: block;
	}

	.img-credit {
		position: absolute;
		bottom: 5px;
		left: 5px;
		color: #fff;
		text-decoration: none;
		opacity: .85;
		line-height: 1.1;
		font-size: .75em;
		text-shadow: 0 0 10px #000;
	}

	.address {
		font-weight: 400;
    	line-height: 1.3;
    	font-size: .9em;
    	margin-top: 10px;
	}
}

.dishes-toggle-strip {
	width: 100%;
	padding: 10px;
	background-color: $darkBlue;
	color: #fff;
	border-top: 1px solid #fff;
	position: relative;
	z-index: 20;

	.dishes-panel.active & {
		position: fixed;
		top: 0;
		left: 0;
	}

	&:after {
		content: "";
		clear: both;
		display: block;
	}

	@include bp750 {
			border-top: none;
	}

	.icon {
		position: absolute;
		top: -8px;
		right: 10px;
		max-width: 45px;
		cursor: pointer;
		transition: .3s;

		&:hover {
			opacity: .9;
		}
	}

	.hide-dishes-panel {
		display: none;
		top: 0;

		@include bp750 {
			display: block;
			top: -8px;
		}
	}

	.show-dishes-panel {
		@include bp750 {
			display: none;
		}
	}

	h3 {
		float: left;
	}

	.halal-toggle {
		display: inline-block;
		float: left;
		margin-left: 5px;
		cursor: pointer;

		@include bp375 {
			margin-left: 45px;
			input {
				margin-left: 5px;
			}
		}
	}
}



/*------------------------------------------------
	MORE INFO MODALS
-------------------------------------------------*/

.more-info-modal {
	position: fixed;
	z-index: 31;
	top: 10px;
	left: 10px;
	opacity: 0;
	visibility: hidden;
	width: calc(100% - 20px);
	max-width: 600px;
	transition: .5s;
	height: calc(100% - 20px);
    padding-bottom: 20px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
	-ms-overflow-style: none;

	&::-webkit-scrollbar { 
	    display: none; 
	}

	@include bp600 {
		left: 50%;
		transform: translateX(-50%);
	}

	@include bp750 {
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 660px;
		max-height: 95%;
	}

	@include bp1200 {
		left: 640px;
		transform: translateY(-50%);

		.dest-selected & {
			left: 440px;
			top: 47%;
			max-height: 90%;
		}
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}

	.hero-img-wrap {
		max-height: 180px;
		overflow: hidden;
		@include flexbox;
		@include align-items(center);
		position: relative;
	}

	.img-credit {
		position: absolute;
		right: 10px;
		bottom: 10px;
		color: #fff;
		font-size: .8em;
		text-decoration: none;
		text-shadow: 0 0 10px #000;
		opacity: .8;
	}

	.trip-info {
		padding: 15px;
		position: relative;
		background-color: #f5f5f5;

		@include bp600 {
			padding: 20px 25px;
		}
	}

	.top-dish {
		padding-right: 70px;
	}

	.top-dish span {
		font-weight: 400;
	}

	.distance {
		@include bp600 {
			right: 25px;
			top: 20px;
			font-size: .95em;
		}
	}
}

.tabs-nav {
	text-align: center;
	background-color: #f5f5f5;

	li {
		display: inline-block;
		padding: 10px 5px;

		@include bp600 {
			padding: 5px 15px 15px;
		}
	}

	.icon {
		max-width: 50px;
		height: 50px;
		cursor: pointer;

		@include bp600 {
			max-width: 65px;
			height: 65px;
		}
	}

	.icon.on,
	li.active .icon.off {
		display: none;
	}

	li.active .icon.on {
		display: inline;
	}
}

.tab-panel {
	padding: 15px;
	font-size: .95em;
	display: none;
	line-height: 1.4;

	@include bp600 {
		padding: 25px;
	}

	&.active {
		display: block;
	}

	> * + * {
		margin-top: 1em;
	}

	> h3 {
		font-size: 1.2em;
		color: $darkBlue;
	}

	.list-item-block {
		margin-bottom: 30px;
		overflow: hidden;
	}

	.list-item-block h3 {
		margin-bottom: 10px;
		font-weight: 600;
		line-height: 1;
	}

	.list-item-block .address {
		font-size: .9em;
		font-weight: 400;
		margin-top: 10px;
		line-height: 1.3;
	}

	.cta {
		padding: 7px 20px;
		background-color: $yellow;
		color: $darkBlue;
		text-decoration: none;
		display: inline-block;
		font-weight: 600;
		font-size: 1.05em;
		margin-top: 15px;

		&:hover {
			background-color: lighten($yellow, 5%);
		}
	}

	.img-wrap {
		position: relative;
		margin-bottom: 15px;

		@include bp600 {
			float: left;
			width: 40%;
		}
	}

	.img-wrap img {
		display: block;
	}

	.img-wrap a {
		position: absolute;
		bottom: 5px;
		left: 5px;
		font-size: .8em;
	}

	.copy-block {
		@include bp600 {
			float: left;
			width: 60%;
			padding-left: 20px;
			overflow: hidden;
		}
	}
}

.close-modal {
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 30;
	cursor: pointer;
	max-width: 40px;
	height: 40px;
}



/*------------------------------------------------
	SHARE BTNS
-------------------------------------------------*/

.share-btns {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 14;

	a {
		color: #fff;
		text-decoration: none;
		float: left;
		width: 50%;
		text-align: center;
		font-size: 1.4em;
		padding: 8px;
	}

	.fb { background: #3b5998; }
	.fb:hover { background: lighten(#3b5998, 5%); }
	.tweet { background: #00aced; }
	.tweet:hover { background: lighten(#00aced, 5%); }

	@include bp750 {
		top: 120px;
		right: 0;
		left: auto;
		bottom: auto;
		width: auto;

		a {
			width: 50px;
			font-size: 1.6em;
		}

		.tweet {
			position: absolute;
			right: 0;
			top: 57px;
		}
	}

}




























